body {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('logo.png');
}

h1 {
    font-size: 205%;
    margin-left: auto;
    margin-right: auto;
}

button {

}

.panel {
    position: relative;
    /*
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;*/
    text-align: center;
    font-weight: 100;
    font-size: 105%;
    /*box-shadow: 0px 7px 25px #000000;
    -moz-box-shadow: 0px 7px 25px #000000;
    -webkit-box-shadow: 0px 7px 25px #000000;*/
    /*border-color: #EEF3E2;*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#login {
	height 550px;
	width: 350px;
	margin-top: 200px;
  background-color: #96FFF7;
}

#main {
    height: 500px;
    width: 700px;
    margin-top: 100px;
    background-color: #FF96BF;
}

#status {
    height: 100px;
    width: 400px;
    max-height: 290px;
    max-width: 580px;
}

#checkboxes {
    width: 40px;
    height: 40px;
}

#profile {
	height 500px;
	width: 500px;
	margin-top: 200px;
  background-color: #A6A6FF;
}

