body {
    position: relative;
    background-color: #FFFFFE;
    font-family: "Copperplate", sans-serif;
}

h1 {
    font-size: 205%;
    margin-left: auto;
    margin-right: auto;
}

button {

}

.panel {
    position: relative;
    opacity: 80%;
    color: black;
    border: 1px;
    border-style: solid;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    text-align: center;
    font-weight: 100;
    font-size: 105%;
    box-shadow: 0px 7px 25px #000000;
    -moz-box-shadow: 0px 7px 25px #000000;
    -webkit-box-shadow: 0px 7px 25px #000000;
    background-color: #EEF3E2;
    border-color: #EEF3E2;
}

#login {
	height 500px;
	width: 500px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

#main {
    height: 500px;
    width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#status {
    height: 100px;
    width: 400px;
    max-height: 290px;
    max-width: 580px;
}

#checkboxes {
    width: 40px;
    height: 40px;
}

