.transparency
#login.panel.wrapper
  h1 WelcomeToQuo
  .inner-panel
    h2 .login
    #login-err Username / Password combo not found!
    div
      label(for="username") username
    div
      input#username(type="text", name="username")
    div
      label(for="password") password
    div
      input#password(type="password", name="password")
    #login-button.panel.hip-button.hover-button login
script(type="text/javascript", src="../js/display/login-display.js")