!!! 5
html(lang='en')
  head
    title Quo
    link(rel='stylesheet', href='//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='../css/bootstrap-docs.css')
    link(rel='stylesheet', href='../css/main.css')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    script(type='text/javascript', src='../js/lib/jquery-1.6.4.min.js')
  body!= body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a(data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar        
          a(href="/main").brand Quo
          .nav-collapse
            ul.nav
              li
                a(href="/profile") Profile
              li
                a(href="/logout") Logout