!!! 5
html(lang='en')
  head
    title Quo
    link(rel='stylesheet', href='//current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='../css/bootstrap-docs.css')
    link(rel='stylesheet', href='../css/main.css')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    script(type='text/javascript', src='../js/lib/jquery-1.6.4.min.js')
  body!= body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner       
            a(href="/main").brand Quo
            ul.nav
              li
                a(href="/profile") Profile
              li
                a(href="/logout") Logout