!!! 5
html(lang='en')
  head
    title Quo
    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    script(type='text/javascript', src='../js/lib/jquery-1.6.4.min.js')
  body!= body