.container-fluid
  .row-fluid
    #screennames.span3
      h3 Your Social Networks:
      #twitter-id.id
        span.label Twitter
        span.value #{everyauth.twitter.user.screen_name}
      //-
        #facebook-id.id
          .label Facebook
          .value #{everyauth.facebook.user.screen_name}
    #main.span9
      h1 QuotentialForGreatness
      h4 Enter in your status below.
      div Character Count: 
        span#character-count 0
      #posting-section
        textarea#status
      #filters.control-group
        div.controls
          label(for="yell-checkbox").checkbox.inline
            input(type="checkbox", value="filterYell")#yell-checkbox 
            |  YELL IT!
          label(for="truncate-to-140-checkbox").checkbox.inline
            input(type="checkbox", value="filterTruncate")#truncate-to-140-checkbox
            |  Truncate to 140
          label(for="noctothorpe-checkbox").checkbox.inline
            input(type="checkbox",value="filterNoHash")#noctothorpe-checkbox
            |  Noctothorpe
      a#post-this.btn.btn-primary.btn-large Post This
script(src="../js/action/post-status.js")