#main.panel
  h1 Welcome to Quo
  h3 Submit to Quo's Will and Post
  div Character Count: 
    span#character-count 0
  #posting-section
    textarea#status
  div
    input#twitter-check(type="checkbox")
    label(for="twitter-check") Twitter
    input#facebook-check(type="checkbox")
    label(for="facebook-check") Facebook
  button#post-this Post this
  #info-section

script(src='../js/display/main-display.js')