#main.panel.wrapper
  h1 Welcome to Quo
  h3 Submit to Quo's Will and Post
  div Character Count: 
   span#character-count 0
  #posting-section
    textarea#status
  div
    input#twitter-check(type="checkbox")
    label(for="twitter-check") Twitter
    input#facebook-check(type="checkbox")
    label(for="facebook-check") Facebook
  button#post-this Post this
  div
    a(href='/profile') See your profile
script(src='../js/display/main-display.js')
script(src='http://code.jquery.com/jquery-latest.min.js')
script(src='../js/action/post-status.js')