.container-fluid
  .row-fluid
    #screennames.span3
      h3 Your Social Networks:
      #twitter-id.id
        span.label Twitter
        span.value #{everyauth.twitter.user.screen_name}
      // Replace the above two lines with the following if they are not logged in with twitter
      //-
        a(href='/auth/twitter', style='border: 0px')
          img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
      //-
        #facebook-id.id
          .label Facebook
          .value #{everyauth.facebook.user.screen_name}
    #main.span9
      h2 Edit your profile
      div
        label(for="user").checkbox.inline Username: 
          input(type="text")#user 
      div
        label(for="first-name").checkbox.inline First Name: 
          input(type="text")#first-name
        label(for="last-name").checkbox.inline Last Name: 
          input(type="text")#last-name
      div
        label(for="email").checkbox.inline Email: 
          input(type="text")#email
      div
        label(for="password").checkbox.inline Password: 
          input(type="text")#password
      a#save-profile.btn.btn-primary.btn-large Save changes
      //- TODO: use jade's executable to have either of these buttons 
          show depending on where the user was coming from (did they go
          straight from the main page to here? User creation. Otherwise,
          profile updates.
      a#create-profile.btn.btn-primary.btn-large Create profile
      br
//script(src="../public/js/action/profile.js")
