#profile
  h2 Edit your settings
  label(for="name") Your full name
  input#name(type="text")
  label(for="time-zone") Your time zone
  select#time-zone
    option(value="Hawaii", selected="selected") (GMT-10:00) Hawaii
    option(value="Alaska") (GMT-09:00) Alaska
    option(value="Pacific Time (US &amp; Canada)") (GMT-08:00) Pacific Time (US &amp; Canada)
    option(value="Arizona") (GMT-07:00) Arizona
    option(value="Mountain Time (US &amp; Canada)") (GMT-07:00) Mountain Time (US &amp; Canada)
    option(value="Central Time (US &amp; Canada)") (GMT-06:00) Central Time (US &amp; Canada)
    option(value="Eastern Time (US &amp; Canada)") (GMT-05:00) Eastern Time (US &amp; Canada)
    option(value="Indiana (East)") (GMT-05:00) Indiana (East)  
    option(value="", disabled="disabled") -------------
    option(value="International Date Line West") (GMT-11:00) International Date Line West
    option(value="Midway Island") (GMT-11:00) Midway Island
    option(value="Samoa") (GMT-11:00) Samoa
    option(value="Tijuana") (GMT-08:00) Tijuana
    option(value="Chihuahua") (GMT-07:00) Chihuahua
    option(value="Mazatlan") (GMT-07:00) Mazatlan
    option(value="Central America") (GMT-06:00) Central America
    option(value="Guadalajara") (GMT-06:00) Guadalajara
    option(value="Mexico City") (GMT-06:00) Mexico City
    option(value="Monterrey") (GMT-06:00) Monterrey
    option(value="Saskatchewan") (GMT-06:00) Saskatchewan
    option(value="Bogota") (GMT-05:00) Bogota
    option(value="Lima") (GMT-05:00) Lima
    option(value="Quito") (GMT-05:00) Quito
    option(value="Caracas") (GMT-04:30) Caracas
    option(value="Atlantic Time (Canada)") (GMT-04:00) Atlantic Time (Canada)
    option(value="La Paz") (GMT-04:00) La Paz
    option(value="Santiago") (GMT-04:00) Santiago
    option(value="Newfoundland") (GMT-03:30) Newfoundland
    option(value="Brasilia") (GMT-03:00) Brasilia
    option(value="Buenos Aires") (GMT-03:00) Buenos Aires
    option(value="Georgetown") (GMT-03:00) Georgetown
    option(value="Greenland") (GMT-03:00) Greenland
    option(value="Mid-Atlantic") (GMT-02:00) Mid-Atlantic
    option(value="Azores") (GMT-01:00) Azores
    option(value="Cape Verde Is.") (GMT-01:00) Cape Verde Is.
    option(value="Casablanca") (GMT+00:00) Casablanca
    option(value="Dublin") (GMT+00:00) Dublin
    option(value="Edinburgh") (GMT+00:00) Edinburgh
    option(value="Lisbon") (GMT+00:00) Lisbon
    option(value="London") (GMT+00:00) London
    option(value="Monrovia") (GMT+00:00) Monrovia
    option(value="UTC") (GMT+00:00) UTC
    option(value="Amsterdam") (GMT+01:00) Amsterdam
    option(value="Belgrade") (GMT+01:00) Belgrade
    option(value="Berlin") (GMT+01:00) Berlin
    option(value="Bern") (GMT+01:00) Bern
    option(value="Bratislava") (GMT+01:00) Bratislava
    option(value="Brussels") (GMT+01:00) Brussels
    option(value="Budapest") (GMT+01:00) Budapest
    option(value="Copenhagen") (GMT+01:00) Copenhagen
    option(value="Ljubljana") (GMT+01:00) Ljubljana
    option(value="Madrid") (GMT+01:00) Madrid
    option(value="Paris") (GMT+01:00) Paris
    option(value="Prague") (GMT+01:00) Prague
    option(value="Rome") (GMT+01:00) Rome
    option(value="Sarajevo") (GMT+01:00) Sarajevo
    option(value="Skopje") (GMT+01:00) Skopje
    option(value="Stockholm") (GMT+01:00) Stockholm
    option(value="Vienna") (GMT+01:00) Vienna
    option(value="Warsaw") (GMT+01:00) Warsaw
    option(value="West Central Africa") (GMT+01:00) West Central Africa
    option(value="Zagreb") (GMT+01:00) Zagreb
    option(value="Athens") (GMT+02:00) Athens
    option(value="Bucharest") (GMT+02:00) Bucharest
    option(value="Cairo") (GMT+02:00) Cairo
    option(value="Harare") (GMT+02:00) Harare
    option(value="Helsinki") (GMT+02:00) Helsinki
    option(value="Istanbul") (GMT+02:00) Istanbul
    option(value="Jerusalem") (GMT+02:00) Jerusalem
    option(value="Kyev") (GMT+02:00) Kyev
    option(value="Minsk") (GMT+02:00) Minsk
    option(value="Pretoria") (GMT+02:00) Pretoria
    option(value="Riga") (GMT+02:00) Riga
    option(value="Sofia") (GMT+02:00) Sofia
    option(value="Tallinn") (GMT+02:00) Tallinn
    option(value="Vilnius") (GMT+02:00) Vilnius
    option(value="Baghdad") (GMT+03:00) Baghdad
    option(value="Kuwait") (GMT+03:00) Kuwait
    option(value="Moscow") (GMT+03:00) Moscow
    option(value="Nairobi") (GMT+03:00) Nairobi
    option(value="Riyadh") (GMT+03:00) Riyadh
    option(value="St. Petersburg") (GMT+03:00) St. Petersburg
    option(value="Volgograd") (GMT+03:00) Volgograd
    option(value="Tehran") (GMT+03:30) Tehran
    option(value="Abu Dhabi") (GMT+04:00) Abu Dhabi
    option(value="Baku") (GMT+04:00) Baku
    option(value="Muscat") (GMT+04:00) Muscat
    option(value="Tbilisi") (GMT+04:00) Tbilisi
    option(value="Yerevan") (GMT+04:00) Yerevan
    option(value="Kabul") (GMT+04:30) Kabul
    option(value="Ekaterinburg") (GMT+05:00) Ekaterinburg
    option(value="Islamabad") (GMT+05:00) Islamabad
    option(value="Karachi") (GMT+05:00) Karachi
    option(value="Tashkent") (GMT+05:00) Tashkent
    option(value="Chennai") (GMT+05:30) Chennai
    option(value="Kolkata") (GMT+05:30) Kolkata
    option(value="Mumbai") (GMT+05:30) Mumbai
    option(value="New Delhi") (GMT+05:30) New Delhi
    option(value="Sri Jayawardenepura") (GMT+05:30) Sri Jayawardenepura
    option(value="Kathmandu") (GMT+05:45) Kathmandu
    option(value="Almaty") (GMT+06:00) Almaty
    option(value="Astana") (GMT+06:00) Astana
    option(value="Dhaka") (GMT+06:00) Dhaka
    option(value="Novosibirsk") (GMT+06:00) Novosibirsk
    option(value="Rangoon") (GMT+06:30) Rangoon
    option(value="Bangkok") (GMT+07:00) Bangkok
    option(value="Hanoi") (GMT+07:00) Hanoi
    option(value="Jakarta") (GMT+07:00) Jakarta
    option(value="Krasnoyarsk") (GMT+07:00) Krasnoyarsk
    option(value="Beijing") (GMT+08:00) Beijing
    option(value="Chongqing") (GMT+08:00) Chongqing
    option(value="Hong Kong") (GMT+08:00) Hong Kong
    option(value="Irkutsk") (GMT+08:00) Irkutsk
    option(value="Kuala Lumpur") (GMT+08:00) Kuala Lumpur
    option(value="Perth") (GMT+08:00) Perth
    option(value="Singapore") (GMT+08:00) Singapore
    option(value="Taipei") (GMT+08:00) Taipei
    option(value="Ulaan Bataar") (GMT+08:00) Ulaan Bataar
    option(value="Urumqi") (GMT+08:00) Urumqi
    option(value="Osaka") (GMT+09:00) Osaka
    option(value="Sapporo") (GMT+09:00) Sapporo
    option(value="Seoul") (GMT+09:00) Seoul
    option(value="Tokyo") (GMT+09:00) Tokyo
    option(value="Yakutsk") (GMT+09:00) Yakutsk
    option(value="Adelaide") (GMT+09:30) Adelaide
    option(value="Darwin") (GMT+09:30) Darwin
    option(value="Brisbane") (GMT+10:00) Brisbane
    option(value="Canberra") (GMT+10:00) Canberra
    option(value="Guam") (GMT+10:00) Guam
    option(value="Hobart") (GMT+10:00) Hobart
    option(value="Melbourne") (GMT+10:00) Melbourne
    option(value="Port Moresby") (GMT+10:00) Port Moresby
    option(value="Sydney") (GMT+10:00) Sydney
    option(value="Vladivostok") (GMT+10:00) Vladivostok
    option(value="Magadan") (GMT+11:00) Magadan
    option(value="New Caledonia") (GMT+11:00) New Caledonia
    option(value="Solomon Is.") (GMT+11:00) Solomon Is.
    option(value="Auckland") (GMT+12:00) Auckland
    option(value="Fiji") (GMT+12:00) Fiji
    option(value="Kamchatka") (GMT+12:00) Kamchatka
    option(value="Marshall Is.") (GMT+12:00) Marshall Is.
    option(value="Wellington") (GMT+12:00) Wellington
    option(value="Nuku'alofa") (GMT+13:00) Nuku'alofa